@inherits LayoutComponentBase

<div class="app-layout">
    <NavMenu />

    <main class="main-content">
        <article class="content-container">
            @Body
        </article>
    </main>
</div>
